extends layout

block content
	iframe(width='100%' height='520' frameborder='0' src='https://pitchforks.cartodb.com/viz/19448130-8616-11e4-9e46-0e018d66dc29/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)
	h1 About Pitchforks
	p Have you seen a protest and wondered what was going on? If you'd had Pitchforks, you could have not only found out how many people were there, but why they were there. You could have read law proposals and negotiations to learn about the grievances and what protesters hoped to achieve. 
	p And you can do all that with just a couple of clicks.
	p Organize protests and find protests happening NOW in your part of the world!