<!DOCTYPE html>
<html>
<head>
	<title>Pitchforks</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Pitchforks</h1>
		<h3>Are you ready?</h3>
	</div>
	
</div>
</body>
</html>