extends layout

block content
	button.btn.btn-lg.btn-block(class="red", data-toggle="collapse", data-target="#protests") Are you Ready?
	.collapse(id="protests")
		iframe(width='100%' height='520' frameborder='0' src='https://pitchforks.cartodb.com/viz/19448130-8616-11e4-9e46-0e018d66dc29/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen)
	p
		a(href="/about") See a historical timeline
	h3 Current Protests
	- var i = 0
	.col-sm-6
		- for (i; i < protests.length / 2; i++)
			a.list-group-item(href="/protests/"+ protests[i].event_id)
				h4.event_title
					= protests[i].name
				p
					span.glyphicon.glyphicon-globe
					= ' ' + protests[i].location + ', '
					span.glyphicon.glyphicon-time
					= ' ' + protests[i].date
				p.psql
					= protests[i].description
	.col-sm-6
		- for (i; i < protests.length; i++)
			a.list-group-item(href="/protests/"+ protests[i].event_id)
				h4.event_title
					= protests[i].name
				p
					span.glyphicon.glyphicon-globe
					= ' ' + protests[i].location + ', '
					span.glyphicon.glyphicon-time
					= ' ' + protests[i].date
				p
					= protests[i].description			

	//- script
	//- 	var $psql = $(".psql"),
	//- 		str = $(".psql").val(),
	//- 		html = $.parseHTML( str ),
	//- 		nodeNames = [];

	//- 	$psql.append( html );

	//- 	$.each( html, function( i, el ) {
	//- 		nodeNames[ i ] = "<p>" + el.nodeName + "</p>";
	//- 		});

	//- 	$psql.append( nodeNames.join(""))