extends layout

block content
	.col-sm-6
		for message in flash
			.alert(class='alert-danger alert-' + message.type)
				p= message.message
		form.form(role="form" method="POST" action="/login")
			.form-group
				.input-group
					label.sr Username
					input.form.control(name="username", id="name", placeholder="Enter Username", autofocus)
			.form-group
				.input-group
					label.sr Password
					input.form.control(type="password", name="password", id="pw")
			p
				button.btn.btn-default(type="submit") Login 
				span.loadMsg
	.col-sm-6