<!DOCTYPE html>
<html>
<head>
	<title>Pitchforks</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="#">Pitchforks</a>
				</div>
			
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>						
						<li><a href="#">About</a></li>						
					</ul>
					<form class="navbar-form navbar-left" name ="search" role="search" method="GET" action="/results">
      		  			<div class="form-group">
      		    			<input type="text" class="form-control" placeholder="Search for protests">
      		  			</div>
      		  			<button type="submit" class="btn btn-default">Find</button>
      				</form>
					<ul class="nav navbar-nav navbar-right">
						<% if(user) { %>
          	  <li><a href="./logout"><span class="glyphicon glyphicon-remove"></span> Logout</a></li>
          	  <li><a href="./profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
          	  <li><a href="/posts/new">Submit</a></li>
          	<% } else { %>
          	  <li><a href="/../signup"><span class="fa fa-user"></span>Sign-Up</a></li>
          	  <li><a href="/../login"><span class="fa fa-user"></span>Login</a></li>
          	<% } %>
					</ul>
				</div>

			</div>
		</nav>
	<div class="content">
  <% if (user) { %>
		Show selected event.
    <p><a href="#">Edit</a></p>
  <% } else { %>
    Show no edit option.
  <% } %>
	</div>
	
</div>
</body>
</html>