body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
	/*background: -webkit-linear-gradient(#b50000, #D10000); */
  /*background: -o-linear-gradient(#b50000, #D10000); */
  /*background: -moz-linear-gradient(#b50000, #D10000); */
  /*background: linear-gradient(#b50000, #D10000); */
  color: #fff;
  margin-bottom: 20px;
}

/* CUSTOM TWEAKS */
.protestbg {
	background-image: url(/p-redfists.jpg);
  opacity: 0.9;
	height: 200px;
}

#slogan, #title {
	color: #fff;
  font-weight: bold;
  -webkit-text-stroke: 2px #fff;
}

@-webkit-keyframes greenPulse {
  from { background-color: #A10000; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #D10202; -webkit-box-shadow: 0 0 18px #D10202; }
  to { background-color: #A10000; -webkit-box-shadow: 0 0 9px #333; }
}
button.green {
	border: red;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.profile-title {
  font-weight: bold;
  text-align: center;
}

img.profile-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.event-title {
  font-weight: bold;
  color: #A10000;
}