<!DOCTYPE html>
<html>
<head>
	<title>Pitchforks</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
<div class="container">
	
  <!-- NAVIGATION SETUP -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <!-- NAVIGATION RESPONSIVE TOGGLE -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pitchforksnav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pitchforks</a>
        </div>
        
        <!-- NAVIGATION LINKS -->
        <div class="collapse navbar-collapse" id="pitchforksnav">
          <ul class="nav navbar-nav">           
            <li><a href="/about">About</a></li>
          </ul>

          <!-- SEARCH FORM -->
          <form class="navbar-form navbar-left" name ="search" role="search" method="GET" action="/results">
            <div class="form-group">
              <input type="text" name='search' class="form-control" placeholder="Search for protests">
            </div>
            <button type="submit" class="btn btn-default">Find</button>
          </form>

          <!-- NAV RIGHT SIDE -->
          <ul class="nav navbar-nav navbar-right">
            <% if(user) { %>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li><a href="/protests"><span class="glyphicon glyphicon-plus"></span> Submit</a></li>
            <% } else { %>                      
              <li><a href="/signup"><span class="glyphicon glyphicon-pencil"></span> Sign-Up</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a href="/auth/twitter"><img src="/sign-in-with-twitter-l.png" width="151" height="24"></a></li>
            <% } %>
          </ul>
        </div>

      </div>
    </nav>

    <!-- HEADER -->
    <div>
      <h1>Grab Your Pitchfork</h1>
      <p><h4>When you sign-up, you can submit your own protests and show support for others.
      </h4></p>      
    </div>

    <!-- SIGN UP FORM -->
    <div class="col-sm-6">      
      <form class="form" role="form" method="POST" action="/signup">
      	<div class="form-group">
          <div class="input-group">
            <label class="sr" for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label class="sr" for="email">Email</label>            
            <input type="text" name="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label class="sr" for="loc">Location</label>
            <input type="text" name="loc" class="form-control" id="loc" placeholder="City ST">
          </div>
        </div>
      <div class="form-group">
        <label class="sr" for="avatar">Avatar</label>
        <input type="file" class="form-control" name="avatar" id="avatar">
        <p class="help-block">Upload your avatar.</p>
      </div>
        <div class="form-group">
          <label class="sr" for="password">Password</label>
          <input type="password" name="password" class="form-control col-sm-6" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
    </div>

    <!-- CLENCHED FIST -->
	   <div class="col-sm-6">
       <img src="/p-fistclenched.jpg" class="img-responsive img-rounded"> 
     </div>

</div>
</body>
</html>