extends ../layout

block content
	.container
		.col-sm-12
			form.form(role="form", method="POST", action="/protests/submit")
				.form-group
					.input-group
						label.sr(for="name") Title
						input.form-control(name="name", id="name")
				.form-group
					.input-group
						label.sr(for="date") Date
						input.form-control(type="date" name="date", id="date")
				.form-group
					.input-group
						label.sr(for="description") Description
						textarea.form-control(name="description", id="description")
						script CKEDITOR.replace('description');
				.form-group
					.input-group
						label.sr(for="location") City
						input.form-control(name="city", id="city")
						.form-group
							.input-group
								label.sr(for="location") State
								input.form-control(name="state", id="state")
								input.form-control(type="hidden" name="_csrf" value=csrftoken)
				button(type="submit", class="btn btn-default") Submit
